.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  img {
    padding-bottom: 50px;
  }
}

.App-link {
  color: #61dafb;
}

.collection {
  margin:0 auto;
  width: 80%;
  h2 {
    text-align: left;
  }
  .item-img {
    width:100px;
  }
}

